Interactives/__pycache__
.ipynb_checkpoints
.HR_Diagram-1.ipynb
.index-0.ipynb
Interactives/.Binary_Star_Sim-0.ipynb
Interactives/.Exoplanet_Sim-0.ipynb
Interactives/.HR_Diagram-0.ipynb
Interactives/.HR_Diagram-2.ipynb
.index-1.ipynb
